html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
body {
  display: flex;
}
#root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  text-decoration: line-through;
}
