.input {
  display: flex;
  gap: 4px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  flex: 1;
  padding: 6px;
}

.done {
  text-decoration: line-through;
}

.item {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  margin: 2px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item.done {
  text-decoration: line-through;
  background: rgb(240, 240, 240);
}

button {
  background: inherit;
  border: none;
}